/*

font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* SPLITTERS */

.splitter {
    width: 64px;
    height: 1px;
    margin: 40px 0;
}

.splitter-white {
    background: #fff;
}

/* HEADER */

.header {
    height: 70px;
    background: #000;
}

.logo {
    display: flex;
    width: auto;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}

.nav__item {
    margin-left: 46px;
}

.nav__item a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.nav__item a:hover {
    text-decoration: none;
    color: #ff8b38;
}

/* MODER TEMPLATE */

.axure_section {
    background: url('../images/upside.png');
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 136px;
}

.axure__title {
    font-size: 36px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 46px;
    margin: 0;
    margin-top: 30px;
}

.axure__desc {
    color: #fff;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
}

