/*

font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.section_head {
    margin: 0; 
    font-family: 'Raleway', sans-serif;
    font-size: 36px;   
    font-weight: normal;
    text-align: center;
}

.section_title {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.section_desc {
    font-size: 14px;
    color: #b0b0b0;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}

/* =============== SPLITTERS =============== */

.splitter {
    width: 64px;
    height: 2px;
    margin: 30px auto;
}

.splitter_from-start {
    margin-left: 0;
}

.splitter-white {
    background: #fff;
}

.splitter_orange {
    background: #ff8b38;
}


/* =============== HEADER =============== */

.navbar-default {
    height: 70px;
    background: #000;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}

.navbar-collapse {
    border: none;
}

.navbar-nav {
    background: #000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: #000;    
}

.navbar-default .navbar-nav > li > a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #b0b0b0;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 20px;
}

.collapse.navbar-collapse {
    z-index: 2;
}


.logo {
    margin-top: 20px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ff8b38;

}


/* =============== MODERN TEMPLATE =============== */

.axure_section {
    background: url('../images/upside.png');
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 136px;
}

.axure__title {
    font-size: 36px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 46px;
    margin: 0;
    margin-top: 25px;
}

.axure__desc {
    color: #fff;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 45px;
    font-size: 16px;
}

.axure_download {
    display: block;
    width: 135px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
    transition: 0.2s;
    margin-left: 0;
}

.axure_download:hover {
    text-decoration: none;
    background: #ff8b38;
    color: #fff;
}



.form_header {
    background: #f5f5f5;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 13px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 30px;
}

.form_header > span {
    color: #ff8b38;
}

.form_content {
    padding: 30px 37px;
    background: #fff;
}

.form_content__input {
    color: #BDBDBD;
    padding: 0 13px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 36px;
}

.form_content__input:focus {
    outline: none;
    border-bottom: 1px solid #ff8b38;
}

.submit_trial {
    height: 53px;
    background: #000;
    background: #ff9b51;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    border: none;
    text-align: center;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* =============== SOCIAL MEDIA =============== */

.social_container {
    border-bottom: 2px solid #b7b7b7;
}
.social_media {
    padding: 23px 0;
    padding-left: 10px; 
}

.social_media h3 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}

.social_media p {
    margin: 0;
}

.social_media__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social_media__icons > i {
    font-size: 48px;
    color: #b0b0b0;
    margin-top: 10px;
    cursor: pointer;
}

.social_media__icons > i:nth-child(7) {
    transform: rotateZ(45deg);
}

.social_media__icons > i:hover {
    color: #ff9b51;
}

/* =============== SERVICES =============== */
.services_container {
    background: #f5f5f5;
}
.services {
    margin-top: 145px;
    margin-bottom: 115px;
}

.services__tabs {
    display: flex;
    flex-direction: column;
}

.services__tabs__tab {
    background: #333333;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 110px;   
    max-width: 112px;
    border: 1px solid #c7c7c7;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.tab_active {
    background: #ff8b38;
}

#tab1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#tab3 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tab_content {
    padding-left: 28px;
    position: relative;
}

.tab_content__tab {
    position: absolute;
}


.tab_content h3{
    margin-top: 5px;
    margin-bottom: 50px;
}



.download_link {
    display: block;
    background: #ff8b38;
    color: #fff;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    max-width: 119px;
    padding: 9px 0px;
    border-radius: 3px;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: 0.2s;
    margin-top: 43px;
}

.download_link:hover {
    text-decoration: none;
    color: #ff8b38;
    background: transparent;
    border: 2px solid #ff8b38;
}

.city_img {
    max-width: 321px;
    margin-top: 40px;
}

/* =============== SUB LIST =============== */

.sub_list {
    padding-top: 93px;
    padding-bottom: 107px;
}

.sub_list img {
    margin-left: -31px;
    margin-top: 35px;
}




.orange_circle {
    width: 36px;
    height: 36px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .2s;
}

.orange_circle:hover {
    background: #ff8b38;
}

.orange_circle:hover i{
    color: #fff;
}

.features {
    margin-top: 40px;
}

.orange_circle i {
    line-height: 32px;
    font-size: 13px;
    color: #ff8b38;
    margin-left: 2px;
    transition: .2s;

}

.feature__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;    
}

.feature__item__img {
    min-width: 70px;
}

.feature__item__text h4 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}

/* =============== STANDART PICTURE SECTION =============== */

.stpicture_fluid {
    background: #f5f5f5;
}

.stpicture_list {
    padding-top: 93px;
    padding-bottom: 107px;
}

/* =============== THIS IS AWESOME =============== */


.awesome_section {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 100px;   
}




.orange_circle-large {
    width: 64px;
    height: 64px;
}

.orange_circle-large i  {
    font-size: 32px;
    margin-top: 15px;    
}

.awesome_list {
    margin-top: 82px;
}

.awesome_list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_title {
    margin-bottom: 20px;        
}

/* =============== PRICING OPTIONS =============== */


.pricing_section {
    padding-top: 104px;
    padding-bottom: 90px;    
}




.pricing_section .section_desc {
    text-align: center; 
    margin-bottom: 120px;
}



.price_condition__name {
    height: 57px;
    background: #333;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 53px;
}

.price_condition__price_desc {
    background: #333;
    border-top: 2px solid #f5f5f5;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 5px solid #ff8b38;
}

#prof_price_section {
    margin-top: -35px;
}

#prof_price {
    padding-bottom: 0;
    border: none;
}


.dolsign {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.pricenum {
    font-size: 94px;
    font-weight: bold;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.pricedesc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #adadad;
}

.accent_price {
    height: 40px;
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    background: #ff8b38;
    line-height: 40px;
    position: relative;
    margin-top: 20px;
}

.opp_list__item {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #86878b;
    text-align: center;
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #f5f5f5;
}

/* =============== CUSTOMERS SAYING =============== */

.customers_feed {
    text-align: center;
    padding-top: 106px;
    padding-bottom: 100px;
}



.customers_feed .section_desc {
    margin-bottom: 56px;
}

.customers_feed p{
    margin-left: auto;
    margin-right: auto;
}


.fb__text {
    text-align: left;
    padding: 22px 10px 24px 14px;
    font-style: italic;
    background: #f5f5f5;
    border-radius: 3px;
    position: relative;
    margin-bottom: 10px;
}

.fb__text.section_desc {
    margin-bottom: 20px;
}

.fb__text::before {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    border-top: 15px solid #f5f5f5;
    content: '';
    left: 23px;
    bottom: -15px;
}

.fb__author {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #000;
    
    display: flex;
    flex-direction: row;
}

.fb__author_info {
    margin-left: 15px;
    padding-top: 10px;    
}

.fb__author_info > .name {
    width: 40px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 100px;
}

.fb__author_info > .role {
    width: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #b4b4b7;
}

/* =============== STYLISH =============== */

.stylish_fluid {
    background: url('../images/street.png') no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 62px;
}

.stylish_fluid h2 {
    color: #fff;
}


.stylish_fluid p, a {
    margin: 0 auto;
    text-align: center;
}

.stylish_fluid .section_desc {
    color: #dcdddc;
    margin-bottom: 30px;
}

/* =============== CONTACT US =============== */


.contact_us {
    padding-top: 108px;
    padding-bottom: 80px;
}

.contact_us p {
    text-align: center;
    margin-bottom: 76px;
}

.form_content__textarea {
    min-width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color: #BDBDBD;
    padding: 2px 13px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    height: 161px;
}

.form_content__textarea:focus {
    border-color: #ff9b51;
}

.form_content__submit {
    width: 144px;
    height: 42px;
    background: #ff9b51;
    color: #fff;
    border: none;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 3px;
    margin: 0 auto;
    cursor: pointer;
}

.form_content__submit:hover {
    background: #ff8e38;

}

/* =============== FOOTER =============== */

.footer_fluid {
    background: #000;
    padding-top: 20px;
    padding-bottom: 14px;
}

.icons_in_footer {
    justify-content: center;
}

.icons_in_footer > i {
    font-size: 24px;
    color: #ccc;
    margin: 0 15px;
}

.copyright {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #808080;
    text-align: center;
    margin-top: 37px;
}

@media screen and (max-width: 1000px) {
    .try_free.col-xs-offset-2 {
        margin-left: 0;
    }

    .social_media__icons.pull-right {
        float: left !important;
    }

    .social_media__icons > i {
        margin-right: 20px;
    }

    .services {
        margin-top: 40px;
    }

    .logo {
        margin-left: 20px;
    }

    .navbar-toggle {
        margin: 20px;
    }

    .services__tabs {
        flex-direction: row;
    }

    .services__tabs__tab {
        width: 200px;
        height: 50px;    
    }

    .houses_2_img {
        margin-left: 0;
    }

    #prof_price_section {
        margin: 40px 0;
    }

    .fb__author {
        margin-bottom: 30px;
    }
    
    .sity_img {
        width: 100%;
    }

    .social_media__icons > i {
        font-size: 30px;    
    }
}







